@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
body {
  --link-color: #f7df1e;
  --base-font: 'Recursive', monospace;
  font-family: var(--base-font);
  display: grid;
  place-items: center;
  gap: 1rem;
  min-height: 100vh;
}
a {
  color: var(--link-color);
  cursor: pointer;
}

.button {
  background-color: var(--link-color);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: var(--base-font);
  font-size: 5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 5rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.75rem 3rem;
  }
}
